

body {
    display: grid;
    grid-template-rows: 100px 10px auto 10px 150px;
    grid-template-columns: 175px auto 175px;
    grid-template-areas:
    ". header ."
    ". divider-top ."
    ". body ."
    ". divider-bottom ."
    ". footer ."
}

header {
    grid-area: header;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-section {
    display: flex;
    height: 45px;
}

h2 {
    font-family: 'Yellowtail', cursive;
    font-size: 35px;
    font-style: italic;
}

.subhead {
    font-family: ‘PT Sans Narrow’, sans-serif;
    font-size: 12px;
}

#divider-top {
    grid-area: divider-top;
    background-image: url('./img/hr-img.png');
}

main {
    grid-area: body;
}

#title-section {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: Arial;
    font-size: 35px;
    font-weight: bold;
    margin: 75px 0 0 0;
}

#title-section {
    margin: 5px 0 20px 0;
    color: grey;
}

#banner {
    width: 100%;
}

#divider-bottom {
    grid-area: divider-bottom;
    background-image: url('./img/hr-img.png');
}

footer {
    grid-area: footer;
    background-color: rgb(255, 81, 0);
}